<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <div class="container">
        <div class="title">
            <h1>Games</h1>
        </div>
        <div class="info">
            <div class="g2048">
                <a href="/2048">
                    <img src="/img/2048.jpg" alt="" href="/2048">
                    <h3>2048</h3>
                </a>
            </div>
            <div class="Snake">
                <a href="/snake_game">
                    <img src="/img/snake.jpg" alt="">
                    <h3>Snake</h3>
                </a>
            </div>
            <div class="Tetris">
                <a href="">
                
                    <img src="/img/tetris.png" alt="">
                    <h3>Tetris</h3>
                </a>

            </div>
            <div class="TempleEscape">
                <a href="">
                
                    <img src="/img/templeEscape.jpg" alt="">
                    <h3>Temple Escape</h3>
                </a>

            </div>
        </div>
    </div>

</body>
</html>