<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temple Escape</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/css/templeEscape.css">
</head>

<body>
    <div class="container">
        <div class="return-home">
            <a href="/">Back</a>
        </div>

        <div class="info">
            <div>Score: <span id="score">0</span></div>
            <div>Level: <span id="level">1</span></div>
        </div>
        <div class="controls">
            <div>-> - Jump</div>
        </div>

        <div>
            <canvas id="screen" width="600" height="600"></canvas>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/templeEscape.js"></script>

</body>

</html>