<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tetris.css">
    <title>Tetris</title>
</head>

<body>
    <div class="container">
        <div class="return-home">
            <a href="/">Back</a>
        </div>

        <div class="info">
            <div>Score: <span id="score">0</span></div>
            <div>Level: <span id="level">1</span></div>
            <div>Lines Cleared: <span id="lines">0</span></div>
        </div>
        <div class="controls">
            <div>R - Restart Game</div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.2/p5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/pieces.js"></script>
    <script src="/js/tetris.js"></script>

</body>

</html>